.primary {
    background-color: #8BC34A !important;
}

.primary-light {
    background-color: #DCEDC8 !important;
}

.background {
    background-color: #EEE !important;
}

.static-fab {
    position: absolute;
    top: 85%;
    left: 85%;
}

.btn-fab .icon {
    position: absolute;
    top: 27%;
    left: 23%;
}

#header-navbar {z-index: 10;}

#upload-form .form-group {
    margin-left: 20px;
    margin-right: 20px;
}

.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

#sidebar-wrapper {
    z-index: 100;
    left: 0;
    width: 0;
    height: 100%;
    margin-left: -237px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}

@media screen and (min-width: 1200px)
{
    #sidebar-wrapper {margin-top: 60px;}
}
@media screen and (max-width: 1200px)
{
    #sidebar-wrapper {margin-top: 50px;}
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px)
{
    #wrapper.toggled #page-content-wrapper {
        padding-left: 200px;
        transition: all 0.5s ease;
    }

    #wrapper #page-content-wrapper {
        padding-left: 0px;
        transition: all 0.5s ease;
    }
}

#wrapper.toggled #sidebar-wrapper {
    width: 237px;
    left: 237px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

.sidebar-nav li a {
    text-align: center;
    padding: 15px 0;
}